[submodule "barogagi-front"]
	path = barogagi-front
	url = https://github.com/T-BluePot/barogagi-front.git

[submodule "barogagi-back"]
	path = barogagi-back
	url = https://github.com/T-BluePot/barogagi-back.git
